/*Navbar*/

.navbar-shop {
background-color: #ffffff;
}

.banner-inicial{
background-color: rgba(46,177,189,1);
}

body{

    font-family: 'Montserrat', sans-serif;
        
}

.parrafos{

font-size: 18px;
color:  #234695;

}

h1 {

color: #FFFFFF;
font-weight: bold;
font-size: 50px;

}

.secciones {

 position: relative;
 margin-top: -120px;   


}

.button_cyber{
    border:0px solid #006d9d; -webkit-border-radius: 3px; -moz-border-radius: 10px;border-radius: 10px;font-size:20px;text-align: center; padding: 10px 17px 10px 17px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; width: 251px; height: 51px;
    background-image: linear-gradient(to right, #0094d5 0%, #4b5aa8 51%, #653795 100%);
    }
    
    .button_cyber:hover{
     border:0px solid #004d6f; color: #FFFFFF; text-decoration:none;
     background-image: linear-gradient(to right, #653795 0%, #4b5aa8 51%, #0094d5 100%);
         }




.button_cyber-carousel{
    border:0px solid #006d9d; -webkit-border-radius: 3px; -moz-border-radius: 10px;border-radius: 10px;font-size:20px; padding: 10px 17px 10px 17px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; width: 181px; height: 51px;
    background-image: linear-gradient(to right, #0094d5 0%, #4b5aa8 51%, #653795 100%);
    }
    
    .button_cyber-carousel:hover{
     border:0px solid #004d6f; color: #FFFFFF; text-decoration:none;
     background-image: linear-gradient(to right, #653795 0%, #4b5aa8 51%, #0094d5 100%);
         }


.contenedor {
  position: relative;
  height: 255px;
  width: 255px;
  margin: 50px 20px;
  float: left;
}
.dnone{
  display: none;
}
.dblock{
  display: block;
}

/*carrousel*/

.blog .carousel-indicators {
    position: static;
    padding-top: 50px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.formulario {

background-color: #2b0c5d ;
}

.form-cyber {
  display: block;
  width: 493px;
  height: 50px;
  /* padding: .375rem .375rem; */
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color:#495057;
  background-color:#fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer {

background-color: #276eb5 ;

}


.nav-link {

color: #FFFFFF;
font-size: 14px;
text-decoration: none;
}

.nav-link:hover {

    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    }


 .carousel-indicators-style 
    li {
      text-indent: 0;
      margin: 0 2px;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      }
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%4a4a4a' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%4a4a4a' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.imgfix{
  width: 65%;
  margin: auto;
}
.owl-nav { display: block !important; }
.margenimg{ margin: auto;}
.owl-prev {
    position: absolute;
    top: 30%;
    margin-left: -50px !important;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    position: absolute;
    top: 30%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-next:hover{
    background-color: white;
}
.owl-dots{
    margin-top: 40px;
}
.owl-theme .owl-dots .owl-dot span{
    margin: 5px 4px;
}
.footer div div div span{
  color: white;
	padding: .5rem 0rem;
}
#logounilever{
  margin: 0 !important;
}

.producto-modal img {
  width: 95%;
}

.modal-body h1 {
  line-height: 84%;
  color: #ff6000;
  padding-top: 1%;
  text-transform: uppercase;
  font-family: "Biko Black";
  font-size: 115px;
}


.modal-header {
  border-bottom: 1px solid #fff;
}

.modal-body h1 {
  font-size: 72px;
  padding-left: 10px;
}

.modal-body p {
  padding-left: 10px;
}

.retails {
  width: 100%;
  margin: auto;
  padding-left: 2%;
}

.modal-vertical img {
  width: 100%;
}

.header {
  padding-top: 5%;
}

.modal-body {
  padding-bottom: 5%;
}




@media (min-width: 544px) and (max-width: 767px){
  .fixfooter{
    position: relative;
    left: 16%;
  }
}